.git
.gitignore
.env
.env.local
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
.terraform
*.tfstate
*.tfstate.*
*.tfvars
.github
terraform/
.terraform.lock.hcl
README.md
LICENSE
